-- Migración Aditiva Segura para campos de API Oficial de Buques
-- Ejecutar este script en tu cliente de base de datos (DBeaver, pgAdmin, etc.)

ALTER TABLE "public"."buques" 
  ADD COLUMN IF NOT EXISTS "id_mbpc" TEXT,
  ADD COLUMN IF NOT EXISTS "bandera" TEXT,
  ADD COLUMN IF NOT EXISTS "anio_construccion" INTEGER,
  ADD COLUMN IF NOT EXISTS "mmsi" TEXT,
  ADD COLUMN IF NOT EXISTS "tipo_buque" TEXT,
  ADD COLUMN IF NOT EXISTS "senal_distintiva" TEXT,
  ADD COLUMN IF NOT EXISTS "velocidad" DOUBLE PRECISION,
  ADD COLUMN IF NOT EXISTS "eslora_mbpc" DECIMAL(6,2),
  ADD COLUMN IF NOT EXISTS "manga" DECIMAL(6,2),
  ADD COLUMN IF NOT EXISTS "puntal" DECIMAL(6,2),
  ADD COLUMN IF NOT EXISTS "arqueo_total" DECIMAL(10,2),
  ADD COLUMN IF NOT EXISTS "calado_max" DECIMAL(6,2),
  ADD COLUMN IF NOT EXISTS "puerto_asiento" TEXT,
  ADD COLUMN IF NOT EXISTS "arqueo_neto" DECIMAL(10,2),
  ADD COLUMN IF NOT EXISTS "dotacion_minima" INTEGER,
  ADD COLUMN IF NOT EXISTS "tipo" TEXT,
  ADD COLUMN IF NOT EXISTS "estado_reg" TEXT,
  ADD COLUMN IF NOT EXISTS "fecha_ultima_actualizacion_api" TIMESTAMPTZ(6);

-- Comentario: El error "Column not found" en el editor es un falso positivo del linter de VS Code,
-- ya que intenta validar la columna antes de que el script se ejecute.
-- El uso de 'IF NOT EXISTS' lo hace aún más robusto.
